.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.task {
  border: solid, black;
  display: flex;
  margin: 10px;
}

.task.checked {
  background-color: cadetblue;
}

.task > * {
  margin: 10px;
}

.task-container {
  display: flex;
  flex-direction: column;
}

.list {
  border: solid, black;
  padding: 30px;
  display: block;
  width: 40%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.list-header {
  display: flex;
  padding: 10px;
}

.list-header:hover {
  background-color: rgb(189, 207, 212);
}

.list-buttons {
  margin-left: auto;
}

button.check {
  margin-left: auto;
}

.navbar {
  border: solid, black;
  height: 80px;
  display: block;
}

.offcanvas {
  width: 400px;
}

.offcanvas-header {
  border: solid, black;
  height: 80px;
}

.side-bar .offcanvas-body {
  border: solid, black;
  border-top: none;
  background-color: white;
}

.form-element {
  border: solid, black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-right: auto;
}

.task-edit {
  border: solid, black;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.task-edit .form-element {
  width: 90%;
}

.move-buttons {
  border: solid, black;
  margin: 10px;
  margin-left: auto;
}

.container-buttons button {
  width: 100%;
}
