:root {
  --bg: #120d31;
  --surface: #302f4d;
  --hover: #b98ea7;
  --text: #f0d3f7;
  --text-accent: #fefadc;
  --btn: #b98ea7;
  --btn-hover: #f0d3f7;
  --border: #4c4869;
  --border-accent: #8885a4;
  --del-btn: #c16c88;
  --edit-btn: #8ca0ac;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Khand, sans-serif;
  color: var(--text-accent);
}

label {
  font-size: 20px;
  font-family: Khand, sans-serif;
  color: var(--text-accent);
}

body,
p,
div,
button {
  font-size: 20px;
  font-family: Switzer, sans-serif;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

div {
  color: var(--text);
}

button {
  border-radius: 10px;
}

.delete-btn {
  background-color: var(--del-btn);
}

.edit-btn,
input[type="submit"].edit-btn {
  background-color: var(--edit-btn);
}

input {
  background-color: var(--bg);
  color: var(--text);
  padding: 10px;
  border: none;
}

.App {
  background-color: var(--bg);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* my-lists */

.my-lists {
  background-color: var(--bg);
}

.list {
  background-color: var(--bg);
  border: solid, var(--border);
  border-radius: 20px;
  padding: 10px;
  display: block;
  width: 80vw;
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.list.expanded {
  border: solid, var(--border-accent);
}

.list-header {
  background-color: var(--surface);
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.list-header:hover,
.list-header:hover .list-buttons,
.list-header:hover h1,
.list-header:hover p,
.list-header:hover .list-title {
  background-color: var(--hover);
  color: var(--bg);
}

.collapse {
  background-color: var(--bg);
}

.list-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-buttons {
  margin-left: auto;
}

.task {
  background-color: var(--surface);
  border: solid, black;
  display: flex;
  margin: 10px;
}

.task.checked {
  background-color: var(--edit-btn);
}

.task > * {
  margin: 10px;
}

.task-container {
  display: flex;
  flex-direction: column;
}

button.check {
  margin-left: auto;
  background-color: transparent;
  color: var(--text-accent);
  border: none;
}

button.add-list-button {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}

/* navbar */

.navbar {
  border: 1px solid var(--border);
  height: 80px;
  display: flex;
  padding: 10px;
  background-color: var(--surface);
}

.navbar button {
  padding: 1px;
  height: auto;
  width: 70px;
}

.custom-sidebar {
  width: 400px;
  background-color: var(--surface);
  color: var(--text);
}

.custom-sidebar .offcanvas-header {
  background-color: var(--btn);
  color: var(--bg);
  border-bottom: 1px solid var(--border);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.custom-sidebar .offcanvas-body {
  border: 1px solid var(--border);
  border-top: none;
  padding: 20px;
}
/* edit-list */

.form-element {
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--surface);
}

form {
  border: solid var(--border);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80vw;
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
  box-sizing: border-box;
}

label {
  margin-right: auto;
  font-size: 25px;
}

.task-edit {
  /* border: 1px solid var(--border); */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.task-edit .form-element {
  width: 90%;
}

.move-buttons {
  border: solid, black;
  margin: 10px;
  margin-left: auto;
}

.container-buttons button {
  width: 100%;
}

button,
input[type="submit"] {
  background-color: var(--btn);
  color: var(--bg);
  border-radius: 10px;
  padding: 5px;
}

button:hover,
input[type="submit"]:hover,
button.form-element:hover {
  background-color: var(--btn-hover);
  color: var(--bg);
}

button.form-element {
  width: 100% !important;
  background-color: var(--surface);
  color: var(--text);
}

/* add-modal */

.custom-modal {
  background-color: var(--surface);
  color: var(--text);
  border-radius: 10px;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
}

.custom-modal .modal-body {
  display: flex;
  flex-direction: column;
}

.custom-modal .btn-close {
  filter: invert(1);
}

.custom-modal .btn-close:hover {
  filter: invert(0);
  background-color: var(--btn-hover);
}

/* userbar */
.user-bar {
  display: flex;
  gap: 10px;
}

.user-bar button {
  height: auto;
  width: auto;
  padding: 5px;
}

/* my profile */
.usericon {
  font-size: 80px;
  color: var(--text-accent);
}

.unstyled-form {
  all: initial;
  font: inherit;
}

.unstyled-form input {
  width: 100%;
  margin-bottom: 20px;
}

/* home page */
.home {
  background-color: var(--bg);
  border: solid, var(--border);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  width: 80vw;
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
  gap: 10px;
}

.home-element {
  background-color: var(--bg);
  border: solid, var(--border);
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  align-items: flex-start;
  flex: 1;
}

.home-side {
  flex: 1;
  margin-left: 0;
}

.welcome-box {
  flex: 1;
  margin-right: 5px;
}

/* clock */
.clock {
  background-color: var(--btn);
  border: solid, var(--border);
}

.clock h1 {
  color: var(--surface);
  font-size: 70px;
  letter-spacing: 8px;
  font-weight: 500;
}

.clock p {
  color: var(--border);
}

.recent-adds {
  text-align: left;
}
